@import "./styles/variables.css";
/* Reset y estilos globales */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-surface-02);
  color: var(--color-text-high);
}

#root {
  min-height: 100vh;
}

button {
  font-family: var(--font-family-base);
}

input, textarea {
  font-family: var(--font-family-base);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
