/* Estilos para el componente Button */
.button {
  border-radius: var(--spacing-3);
  cursor: pointer;
  outline: none;
  font-family: var(--font-family);
  transition: all var(--transition-fast);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-2);
  border: none;
}

.button:disabled {
  cursor: not-allowed;
}

/* Variantes */
.button--primary {
  background-color: var(--color-primary);
  color: var(--color-surface-01);
}

.button--primary:hover:not(:disabled) {
  background-color: var(--color-primary-hover);
}

.button--primary:disabled {
  background-color: var(--color-text-low);
}

.button--secondary {
  background-color: var(--color-surface-02);
  color: var(--color-text-high);
  border: 1px solid var(--color-stroke);
}

.button--ghost {
  background-color: transparent;
  color: var(--color-primary);
}

/* Tamaños */
.button--sm {
  padding: var(--spacing-2) var(--spacing-3);
  font-size: var(--font-size-caption);
  font-weight: 400;
}

.button--md {
  padding: var(--spacing-3) var(--spacing-5);
  font-size: var(--font-size-h3);
  font-weight: 600;
}

.button--lg {
  padding: var(--spacing-4) var(--spacing-6);
  font-size: var(--spacing-5);
  font-weight: 600;
}
