.section {
  border: 1px solid var(--color-stroke);
  border-radius: var(--spacing-3);
  padding: 10px;
  background-color: var(--color-gray-50);
}

.section-title {
  font-size: var(--font-size-h3);
  font-weight: 600;
  color: var(--color-text-high);
  margin: 0 0 var(--spacing-4);
  font-family: var(--font-family);
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}

.section--customer {
  background-color: var(--color-blue-50);
  border-color: var(--color-blue-500);
}

.section--items {
  background-color: var(--color-green-50);
  border-color: var(--color-green-500);
}

.section--summary {
  background-color: var(--color-yellow-100);
  border-color: var(--color-yellow-500);
}
