.card {
  background-color: var(--color-surface-01);
  border-radius: 20px;
  box-shadow: 0 2px var(--radius-sm) var(--color-shadow-medium);
  padding: var(--spacing-4);
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
  transition: transform var(--transition-fast), box-shadow var(--transition-fast);
  cursor: pointer;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: var(--shadow-light);
}
